params.chm13xy = "/g/data/te53/shortreadvariants2025/references/chm13/chm13xy.fasta.gz"
params.chm13xx = "/g/data/te53/shortreadvariants2025/references/chm13/chm13xx.fasta.gz"
params.chm13xxbed = "/g/data/te53/shortreadvariants2025/references/chm13/chm13xxintervals.bed"
params.chm13xxpar = "/g/data/te53/shortreadvariants2025/references/chm13/chm13xxpar.bed"
params.chm13xybed = "/g/data/te53/shortreadvariants2025/references/chm13/chm13xyintervals.bed"
params.chm13xypar = "/g/data/te53/shortreadvariants2025/references/chm13/chm13xypar.bed"


params.db = "/g/data/tu07/ncig-shortread-deepvariant/testdata/db/test.db"
params.outdb = "/g/data/tu07/ncig-shortread-deepvariant/testdata/db/test.db"
params.outdir = "/g/data/te53/ka6418/refgendev/tmp/shortreadvariants/testrun"
params.cohortID = "17MARCH"


plugins {
    id 'nf-sqldb' 
}

sql {
    db {
        'inputdb' {
            url = "jdbc:sqlite:${params.db}"
            user = ''
            password = ''
        }
    }
}


profiles {
  NCI {
    process {
      executor = 'pbspro'
      project = 'te53'
      storage = 'gdata/xl04+gdata/te53+gdata/if89+gdata/tu07'
      beforeScript = 'module use -a /g/data/if89/apps/modulefiles && module use -a /g/data/if89/shpcroot/modules && set -ex'
      
      withName: alignment {
        queue = 'normal'
        time = '1.h'
        cpus = '48'
        memory = '192GB'
        module = 'bwa-mem2/2.2.1:samtools/1.19.2'
        disk = '400GB'
      }

      withName: mergecram {
        queue = 'normal'
        time = '1.h'
        cpus = '48'
        memory = '192GB'
        module = 'samtools/1.19.2'
      }

      withName: jointgenotyping {
        queue = 'normal'
        time = '30.m'
        cpus = '48'
        memory = '192GB'
        module = 'singularity:bcftools:htslib:cgrlab/glnexus/1.4.1'
        disk = '400GB'
      }

      withName: deepvariantdryrun {
        queue = 'normal'
        time = '10.m'
        cpus = '1'
        memory = '4GB'
        module = 'deepvariant-gpu'
      }

      withName: deepvariantmakeexamples {
        queue = 'normalsr'
        time = '1.h'
        cpus = '104'
        memory = '512GB'
        module = 'deepvariant-gpu:bcftools:htslib:parallel'
        disk = '400GB'
      }

      withName:  deepvariantcallvariants {
        queue = 'gpuvolta'
        time = '20.m'
        cpus = '12'
        memory = '96GB'
        disk = '100GB'
        module = 'deepvariant-gpu:bcftools:htslib'
        clusterOptions = "-l ncpus=${cpus},mem=${memory},ngpus=1,storage=${storage},jobfs=100GB"
      }

      withName: deepvariantpostprocess {
        queue = 'normalbw'
        time = '1.h'
        cpus = '14'
        memory = '128GB'
        module = 'deepvariant-gpu:bcftools:htslib'
        disk = '10GB'
      }


      withName: splitgvcf {
        queue = 'normal'
        time = '1.h'
        cpus = '48'
        memory = '192GB'
        module = 'bcftools:htslib:parallel'
        disk = '400GB'
      }

      
    }
  }
}